body{
    background-image: url(../imagens/fundo.png);
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
/* Cabeçalho*/

#logo{
  padding: 30px;
  margin-left: 200px;
}
/*Menu principal*/
nav ul{
    list-style: none;
    text-align: center;

}
nav ul li{

    display: inline-block;
    
}
nav ul a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
nav ul a:hover{
    background-color: #fff;
    color:#de003e
    
}
/*Conteudo*/
main{
    width: 800px;
    margin: auto;
    padding-top: 20px;
}
#container{
    width: 50%;
}
#conteudo{
   border-style: groove;
   border-color: #467bb4;
 
   margin-top: 30px;
   width: 320px;
    
   
   
}
 #conteudo h2{
    color: #fff;
    background-color: #294c71;
}
#conteudo h3{
    color:#fff ;
    background:#de003e ;
    font-size: 15px;
}

#imagem{
    margin-left: 5px;
    border: 2px solid #de003e;
}
#img{
    float: left;
    padding: 3px;
}
#para{
    float: right;
}
#segundo{
    clear: both;
}